@media screen and (min-width:1200px) {
    .conteiner {
        width: 1200px;
    }
    /* ----------------------HEADER------------------------------- */
    .top-menu{
        margin-right: auto;
        margin-left: auto;
        width: 1200px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-logo{
        margin-top: 24px;
        margin-bottom: 25px;
        margin-left: 50px;
        margin-right: 93px;
    }
        .contacts-lists{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
        margin-right: 50px;
        }
    
.contacts-lists__item:not(:last-child) {
    margin-right: 50px;}



    /* ---------------------------HERO------------------------------------- */
    .hero__tittle{
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
    .hero{
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero_photo/hero.png);
    }
                        @media (min-device-pixel-ratio: 2),
                        (-webkit-min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            .hero {
                                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_photo/hero_desktop.jpg);
                            }
                        }
/* ---------------------------------FEATURES-------------------------------- */
    .features {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .features__list .features__item {
        width: 270px;
    }
    .features .features__tittle{
        text-align: left;
    }

    /* ----------------------TASK----------------------------------- */
.task__blok{
    display: block;
}
/* --------------------------TEAM----------------------------------- */
    .team {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .team__tittle {
        font-size: 36px;
        line-height: 1.17;
    }

    .team__card {
        width: 270px;
    }

    /* -----------------------CLIENT------------------------- */
    .client {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .client__tittle {
        font-size: 36px;
        line-height: 1.17;
    }

    .client__box {
        width: 170px;
    }
/* --------------------FOOTER--------------------- */

.footer__conteiner{
    justify-content: start;
    align-items: baseline;
    text-align: left;
}

.footer__logo{
        margin-bottom: 0px;
        margin-right: 69px;
}
.footer__join{
text-align: left;
}
.footer__soc-link{
    margin-bottom: 0;
    margin-right: 94px;
}
.subscribe {
    margin-top: 0;
    align-items: flex-start;
    margin-bottom: 40px;
}
.footer__subscribe-form{
margin-left: auto;
}
.footer__subscribe{
width: auto;
justify-content: start;
flex-direction: row;
}
.footer__subscribe-input{
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
}
/* .footer__subscribe-button{
margin-left: 12px;
} */
.form{
        width: 528px;
            min-height: 581px;
}
.form__field:not(:last-child) {
    margin-bottom: 28px;
}
.form__checkbox-label{
font-size: 14px;
    line-height: 1.71;
}

}    