@media screen and (min-width:480px) {
    .conteiner {
        width: 480px;
    }
    /* -------------------TASK------------------------------ */
        .task__blok {
            display: none;
        }
    /* --------------HEADER---------------------- */
        .top-menu {
            margin-right: auto;
            margin-left: auto;
            width: 480px;
            height: 60px;
        }
.mobile-social__link {
    margin-right: 20px;
    font-size: 18px;
    line-height: 1.22;
}      
.nav{
        padding-left: 15px;
            padding-right: 15px;
            margin-right: auto;
            margin-left: auto;
}
.form{
    width: 450px;
    min-height: 609px;
}
}


@media screen and (min-width: 320px) {
.form__button {
        width: 200px;
        height: 50px;
    }
}

.modal-submit__button {
    width: 200px;
    height: 50px;
}


@media screen and (max-width: 767px)  {
    .site-nav, .contacts-lists {
            display: none;
        }
}