@media screen and (min-width:768px) {
    .conteiner {
        width: 768px;
    }

    /* -----------------------HEADER---------------------- */

    .top-menu{
        margin-right: auto;
        margin-left: auto;
        width: 768px;
        height: 80px;
    }
    .nav{
        padding-right: 0;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-logo{
        margin-top: 26px;
        margin-bottom: 26px;
        margin-left: 15px;
        margin-right: 88px;
    }
    .site-nav{
        margin-right: 50px;
    }
    .contacts-lists{
        margin-bottom: 21px;
        margin-top: 21px;
    }
    .top-menu-btn{
        display: none;
    }
    .contacts-lists__link{
        margin-bottom: 10px;
    }
/* ----------------------------HERO--------------------- */
.hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero_photo/Header_tablet_img.jpg);
}
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_photo/hero_tablet.jpg);
                    }
                }
    /* -----------------FEATURES--------------------- */
    .features__list .features__item{
        width: 354px;
    }
/* --------------------------TASK---------------------- */
.task__blok {
    display: none;
}

    /* ----------------------TEAM-------------------- */
    .team__tittle {
        font-size: 28px;
        line-height: 1.18;
    }

    .team__card {
        width: 354px;
    }
/* ----------------------------CLIENT--------------------------- */
    .client {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .client__tittle {
        font-size: 36px;
        line-height: 1.17;
    }

    .client__box {
        width: 170px;
    }
    /* -------------FOOTER--------------------- */
    .footer__conteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer__logo{
        margin-right: 165px;
    }
        .footer__subscribe {
            width: 450px;
        }
    .footer__subscribe-input{
        width: 450px;
    }

}

